.class-field-padding {
    padding-bottom: 0.5rem;
}


lightning-card {
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


lightning-accordion-section {
    background-color: #ffffff;
    border-radius: 0.25rem;
}
